@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

.custom-navbar-links {
  color: #515050;
  font-family: 'Alibaba PuHuiTi';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 152.7%;
}

.custom-img {
  background-image: url(../assets/custom-img.png);
}

.custom-h1 {
  color: #1f1f1f;
  font-family: 'Alibaba PuHuiTi';
  font-size: 48px;
  font-weight: 900;
  line-height: 108.969%;
}

.custom-p {
  color: #515050;
  font-family: 'Alibaba PuHuiTi';
  font-size: 14px;
  font-weight: 400;
  line-height: 152.7%;
}

.custom-button {
  width: 200px;
  height: 48px;
  border-radius: 53px;
  border: 2px solid #fff;
  background: linear-gradient(270deg, #4c12c8 0%, #ff9a34 100%);
  box-shadow: 8px 7px 11px 0px rgba(162, 105, 121, 0.08),
    0px 4px 22px 0px rgba(0, 0, 0, 0.25);

  color: #fff;
  text-align: center;
  font-family: 'Alibaba PuHuiTi';
  font-size: 18px;
  font-weight: 900;
}
